<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark justify-content-center">
    <h6 class="navbar-text text-center mb-0">
      &copy; 2025 by Jemimah Adamu — All rights reserved. &nbsp; | &nbsp;
      <a href="https://www.linkedin.com/in/jemimah-adamu-888735281/" target="_blank"
        class="text-light text-decoration-none">
        <i class="fa-brands fa-linkedin"></i> LinkedIn
      </a>
      &nbsp; | &nbsp;
      <a href="https://github.com/Jemimah2306" 
         target="_blank" 
         class="text-light text-decoration-none mx-2">
        <i class="fa-brands fa-github"></i> GitHub
      </a>
    </h6>
  </nav>
</footer>

<script src="/Script/app.js"></script>
</body>

</html>